* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.hero{
  width: 100%;
  height: 594px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid;
  padding: 0;
  background-color: #ffffff;
  /* background-image: radial-gradient(#dcdcdc 2px, transparent 1px);
  background-size: 20px 20px; */
  background-image: radial-gradient(#dcdcdc 0.8px, transparent 0.8px);
background-size: 18px 18px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.header__menu {
  display: none;
}

.header__logo {
  width: 54px;
  height: 50px;
}

.header__hamburger-menu {
  width: 36px;
  height: 32px;
}

.hero__content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero__img {
  width: 318px;
  height: 300px;
}

.hero__title-container {
  width: 291px;
  text-align: center;
}

.hero__title {
  font-size: 48px;
}

.quien-soy {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 80px 31px;
  gap: 40px;
}

.quien-soy__textos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 312px;
}

.quien-soy__title,
.quien-soy__parrafo {
  text-align: center;
}

.quien-soy__img {
  width: 80px;
  height: 80px;
}

.servicios {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  padding: 60px 0;
}

.servicios__cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.card {
  width: 271px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.card__img {
  width: 138px;
  height: 138px;
}

.card__paragraph {
  width: 262px;
  font-size: 16px;
}

.card__title {
  font-size: 24px;
}

.contacto {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.contacto__title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 335px;
}

.form__input-email,
.form__input-name,
.form__button {
  height: 45px;
  border: none;
}

.form__input-text {
  height: 113px;
}

.form__button {
  background-color: #ffd953;
  font-size: 24px;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 700;
}

.form__label {
  font-size: 13px;
  font-weight: 400;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 19px;
  padding: 50px 17px 70px 17px;
  background-color: #dbdbdb;
}

.footer__logo-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__logo {
  width: 77px;
  height: 71px;
}

.footer__copyright {
  font-size: 13px;
  font-weight: 400;
}

.redes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.redes__enlaces {
  color: inherit;
  text-decoration: none;
  display: flex;
  gap: 10px;
}
